**/inputs/*
**/output*
**/testfiles/*
notes.txt
__pycache__/
.vscode/
**/*.swp
**/*.swo
conf_temp.json
myvenv/*
src/upload_file/documents/*

## LibreOffice Extension

libreoffice-extension/*
!libreoffice-extension/unotools/
