**/inputs/*
**/output*
**/testfiles/*
notes.txt
__pycache__/
.vscode/
**/*.swp
**/*.swo
conf_temp.json
myvenv/*
src/upload_file/documents/*
src/db.sqlite3

## Package files
build/
anonymizer.egg-info/

## LibreOffice Extension

libreoffice-extension/extras
