autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django>=2.2.4
django-crispy-forms==1.7.2
django-form-utils==1.0.3
idna==2.8
odfpy==1.4.0
py==1.4.22
pycodestyle==2.5.0
pytest==2.6.0
pytz==2019.1
requests==2.22.0
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.25.3
