<!doctype html>
<html>
<head>
    {% comment %} <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  {% endcomment %}
    {% load static %}
    <link href="{{ STATIC_URL }}/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Anonymizer</title>
    <script src="{{ STATIC_URL }}/static/js/myFunctions.js"></script>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
replace_me
{% endblock content %}

</body>
</html>