{% extends 'base.html' %}
<div class="container">
{% block content %}

<script>
option = 1;

function select_preview_button_function(x){
    option = x;
    if (x==1){
        document.getElementById('option1').style.visibility = "visible";
        document.getElementById('option2').style.visibility = "hidden";
        document.getElementById('option1_button').classList.remove('btn-secondary');
        document.getElementById('option1_button').classList.add('btn-primary');
        document.getElementById('option2_button').classList.remove('btn-primary');
        document.getElementById('option2_button').classList.add('btn-secondary');

    }
    else{
        document.getElementById('option1').style.visibility = "hidden";
        document.getElementById('option2').style.visibility = "visible";
        document.getElementById('option2_button').classList.remove('btn-secondary');
        document.getElementById('option2_button').classList.add('btn-primary');
        document.getElementById('option1_button').classList.remove('btn-primary');
        document.getElementById('option1_button').classList.add('btn-secondary');

    }
}

function goBack() {
  window.history.back();
}
</script>
<div id='select_preview_button'>
{% comment %} Selection Buttons {% endcomment %}
<button type='button' id='option1_button' name='option1' class='btn btn-primary' onclick="select_preview_button_function(1)">Side To Side </button>         

<button type='button' id='option2_button' name='option2' class='btn btn-secondary' onclick="select_preview_button_function(2)">Focus</button>

{% comment %} Nabigation Buttons {% endcomment %}
<button type='button' id='return_button' name='return' class='btn btn-info' onclick='goBack()'>Back to List</button>

<button type='button' id='update_text_button' name='update_text_button' class='btn btn-success' onclick='updateText()'> Update text</button>

<button type='button' id='anonymize_word_button' name='anonymize_word' class='btn btn-danger' onclick='addWordsToBeAnonymized()'>Anonymize word</button>

{% include 'button_delete_words.html' %}
{% comment %} <button type='button' id='delete_words_button' name='delete_words' class='btn btn-warning' onclick='deleteWordsToBeAnonymized()'>Delete words</button> {% endcomment %}



</div>
<div class='document container'>

    <div id='option1'>
        <div id='original_document' class='split left'>

            <h3 style='text-align:center'><b>{{document.name}}</b><h3>
            <br>
            {{document.text|linebreaks}}
        </div>

        <div id='anonymized_document' class='split right'>
            <h3 style='text-align:center'><b>{{document_anonymized.name}}</b><h3>
            <br>
            {% comment %} {% for word in document.text|join:" " %}
                <span id='tobehidden'>{{word}}</span>
            
            {% endfor %} {% endcomment %}
            <span id='anonymized_text'>{{document_anonymized.text|linebreaks}}</span>
        </div>
    </div>

    <div id='option2' style='z-index:+5;'>
        
                <div id='anonymized_document' >
            <h3 style='text-align:left;'><b>{{document_anonymized.name}}</b><h3>
            <br>
            <span id='anonymized_text'>{{document_anonymized.text|linebreaks}}</span>
        </div>

    </div>

</div>
<script>
select_preview_button_function(1);
</script>
{% endblock content %}
</div>