{% comment %} {% extends 'home.html' %}
{% block upload_file_block %}
This is it working!
{% endblock upload_file_block %} {% endcomment %}

<div id='upload_container' class="container">


<h2>Upload your file here:<h2>
{% comment %} <form method='POST' enctype='multipart/form-data' action="">
{% csrf_token %}
<input type='file' name='file' id="choose_file_button" class="btn">
<button type='submit' value='submit' id="upload_file_button" class="btn">Upload file</button>
</form>

 {% endcomment %}
<form method='POST' enctype='multipart/form-data'>
{% csrf_token %}
    {{  form.as_p   }}
    <input type='submit' value='Upload'>
</form>
</div>