/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(26, 25, 25);
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {

  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#upload_container {
  
  background-color: rgba(26, 25, 25, 1);
  /* color:white */
  color:rgb(255, 255, 255)
}

#choose_file_button{
  float: left;
  color:white;
}
#upload_file_button{
  float: right;
}