:root {
  --main-bg-color: #1a1919; 
  --main-inv-color:#f2f2f2;
  --main-inv-on-hover-color: #ddd
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--main-bg-color);
  overflow: hidden;
  z-index: 100;
  
}

/* Style the links inside the navigation bar */
.topnav a {

  float: right;
  color: var(--main-inv-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--main-inv-on-hover-color);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1; 
  top: 52px;
  overflow-x: hidden;
  padding-top: 40px; 
}

/* Control the left side */
.left {
  left: 0;
  
}

/* Control the right side */
.right {
  right: 0;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}




/* ID's */

#upload_container {
  
  background-color: rgba(26, 25, 25, 1);
  /* color:white */
  color:rgb(255, 255, 255);
  
}

#choose_file_button{
  float: left;
  color:white;
  font-size:medium;
}
#upload_file_button{
  float: right;
}

#select_preview_button{
  text-align: left;
  position: relative;
  padding: 1em;
  z-index: 3;
}